.about-page {
	margin: auto;
	text-align: center;
	color: white;
	font-size: 16px;
	font-weight: 600;
}

.about-container {
	position: relative;
	text-align: center;
}

.about-img {
	max-width: 100%;
	margin: auto;
}
.about-title {
	font-size: 58px;
	font-weight: 800;
	text-align: center;
}
