a.button, input[type="submit"], button {
    background: #E2E4E6 100%;
    border: 0;
    border-radius: 0.3em;
    box-shadow: 0 1px 0 #a5acb0;
    color: hsl(0, 0%, 30%);
    cursor: pointer;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.3em 1em 1em 0;
    outline: 0;
    padding: 0.7em 3em;
    position: relative;
    text-decoration: none;
  }
  
  .button--primary {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#61bd4f),
      to(#5aac44)
    );
    background: linear-gradient(to bottom, #61bd4f 0%, #5aac44 100%);
    box-shadow: 0 2px 0 #3f6f21;
    color: #fff;
    font-weight: bold;
  }
  
  .button:hover {
    color: hsl(0, 0%, 30%);
    background-color: #d6dadc;
    box-shadow: 0 2px 0 #c4c9cc;
  }
  
  .button--primary:focus,
  .button--primary:hover {
    color: #fff;
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#5aac44),
      to(#519839)
    );
    background: linear-gradient(to bottom, #5aac44 0%, #519839 100%);
    box-shadow: 0 2px 0 #3f6f21;
  }