@import "./vendors/bootstrap";
@import "./base/typography";
@import "./utils/variables";
@import "./layout/header";
@import "./layout/hero";
@import "./components/login";
@import "./components/button";


section{
padding:40px 0;
}

.layout-centered-content{
    p{
        font-weight: 300;
        font-size: 20px;
    }
}

.article-description {
    font-size: 16px;
    font-weight: 600;
}

/* Helpers */
.layout-centered-content {
    margin: 0 auto;
    max-width: 650px;
}
.bg-light-grey{
    background-color: $light-grey;
}

.bg-blue {
    background-color: $background-blue;
}

.bg-yellow {
    background-color: $background-yellow;
}

.light-bg{
    background-color:$modal-bg;
}

.bg-light-blue{
    background-color:$background-light-blue;
}
  