/* Variables */
$background-light-blue:#BCD9EA;
$background-blue:#0079BF;
$light-grey: #F8F9F9;
$modal-bg:#f5f5f5;
$text-color:#4d4d4d;
$background-yellow: #FDFAE5;

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h2{
  font-weight: 700;
  margin:1.3rem 0;
}

p{

}

header{
  box-shadow: 0 0 6px rgba(0,0,0, .5);
}

section{
  padding:40px 0;
}

.hero{
  padding-top:88px;
}

a.button, input[type="submit"], button {
  background: #E2E4E6 100%;
  border: 0;
  border-radius: 0.3em;
  box-shadow: 0 1px 0 #a5acb0;
  color: hsl(0, 0%, 30%);
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  line-height: 1.2;
  margin: 0.3em 1em 1em 0;
  outline: 0;
  padding: 0.7em 3em;
  position: relative;
  text-decoration: none;
}

.button--primary {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#61bd4f),
    to(#5aac44)
  );
  background: linear-gradient(to bottom, #61bd4f 0%, #5aac44 100%);
  box-shadow: 0 2px 0 #3f6f21;
  color: #fff;
  font-weight: bold;
}

.button:hover {
  color: hsl(0, 0%, 30%);
  background-color: #d6dadc;
  box-shadow: 0 2px 0 #c4c9cc;
}

.button--primary:focus,
.button--primary:hover {
  color: #fff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#5aac44),
    to(#519839)
  );
  background: linear-gradient(to bottom, #5aac44 0%, #519839 100%);
  box-shadow: 0 2px 0 #3f6f21;
}

.layout-centered-content p{
  font-weight: 300;
  font-size: 20px;
}

/* Helpers */
.layout-centered-content {
  margin: 0 auto;
  max-width: 650px;
}
.bg-light-grey{
  background-color: $light-grey;
}

.bg-blue {
  background-color: $background-blue;
}

.bg-yellow {
  background-color: $background-yellow;
}

.light-bg{
  background-color:$modal-bg;
}

.bg-light-blue{
  background-color:$background-light-blue;
}
.article-description {
  font-size: 16px;
  font-weight: 600;
}
